@import '../../../../vendor/filament/filament/resources/css/theme.css';
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../resources/views/**/*';
@source '../../../../resources/views/layout/**/*';
@source '../../../../vendor/jaocero/radio-deck/resources/views';

.fi-sidebar-item-grouped-border-part-not-last,
.fi-sidebar-item-grouped-border-part,
.fi-sidebar-item-grouped-border-part-not-first {
  @apply hidden;
}

.fi-modal-window-has-sticky-header.fi-modal-window-has-footer {
  @apply overflow-y-auto;
}

.comments-wrapper .comm\:flex-1.comm\:space-y-2 {
  @apply flex flex-col-reverse *:last:flex *:last:flex-col-reverse gap-4;
}

[id^="filament-comment-"] {
  @apply !m-0;
}

.fi-body {
  @apply select-none;
}
